<a href="https://colab.research.google.com/github/zn8834/Bigdata_Teamproject/blob/main/busan_backend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

#구글 드라이브에서 데이터(csv파일) 연동 위한 과정
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

filename1 = '/content/drive/My Drive/Colab Notebooks/dataset/busan_dataset.csv'

In [ ]:

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.preprocessing import LabelEncoder

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf

In [ ]:
busan_dataset = pd.read_csv(filename1)

In [ ]:

busan_dataset

,gu,price,hospital,bus,convenience,subway,department,office,mart,kindergarten,library,park,school,bank,senior
0,gangseo,728,102,482,84,0,0,4,1,107,5,77,9,28,50
1,geumjeong,898,371,448,328,8,1,7,6,84,18,38,27,21,97
2,gijang,802,101,746,263,2,0,4,5,151,9,142,23,12,239
3,nam,953,336,560,289,6,0,6,7,133,9,43,28,29,133
4,dong,936,202,253,114,5,1,4,4,35,8,13,11,18,76
5,dongrae,1287,516,591,267,11,1,9,10,108,7,46,26,37,145
6,busanjin,1092,857,690,521,10,1,11,9,156,17,59,37,55,263
7,buk,826,358,498,219,13,0,5,8,165,8,82,24,23,148
8,sasang,848,238,452,217,6,0,7,8,96,11,39,16,26,126
9,saha,675,428,741,302,12,0,8,10,159,19,55,31,32,201
10,seo,920,235,295,110,4,0,13,5,43,12,31,11,14,62
11,suyeong,1425,300,293,294,7,0,5,4,73,5,31,10,19,85
12,yeonje,1197,363,334,239,8,1,2,9,83,8,31,11,30,123
13,yeongdo,709,160,365,97,0,0,14,2,47,14,39,15,17,65
14,jung,712,66,77,50,0,1,10,0,13,7,9,4,4,27
15,haeundae,1209,462,690,328,8,3,7,29,184,9,71,30,54,241

In [ ]:
#서용자가 직접 값을 입력하는 과정(13개240

price = int(input("원하시는 평당가(만)를 입력해주세요 => "))
hospital = int(input("원하시는 병원 수를 입력해주세요 => "))
bus = int(input("원하시는 버스 수를 입력해주세요 => "))
covenience = int(input("원하시는 편의점 수를 입력해주세요 => "))
subway = int(input("원하시는 지하철역 수를 입력해주세요 => "))
department = int(input("원하시는 백화점 수를 입력해주세요 => "))
office = int(input("원하시는 관공서 수를 입력해주세요 => "))
mart = int(input("원하시는 마트 수를 입력해주세요 => "))
kindergarten = int(input("원하시는 유치원 수를 입력해주세요 => "))
library = int(input("원하시는 도서관 수를 입력해주세요 => "))
park = int(input("원하시는 공원 수를 입력해주세요 => "))
school = int(input("원하시는 학교 수를 입력해주세요 => "))
bank = int(input("원하시는 은행 수를 입력해주세요 => "))
senior = int(input("원하시는 경로당 수를 입력해주세요 => "))

원하시는 평당가(만)를 입력해주세요 => 150
원하시는 병원 수를 입력해주세요 => 5
원하시는 버스 수를 입력해주세요 => 62
원하시는 편의점 수를 입력해주세요 => 33
원하시는 지하철역 수를 입력해주세요 => 3
원하시는 백화점 수를 입력해주세요 => 2
원하시는 관공서 수를 입력해주세요 => 2
원하시는 마트 수를 입력해주세요 => 3
원하시는 유치원 수를 입력해주세요 => 5
원하시는 도서관 수를 입력해주세요 => 4
원하시는 공원 수를 입력해주세요 => 6
원하시는 학교 수를 입력해주세요 => 5
원하시는 은행 수를 입력해주세요 => 2
원하시는 경로당 수를 입력해주세요 => 1

In [ ]:
# 사용자가 입력한 값을 리스트로 저장
input_user = np.array([price, hospital, bus, covenience, subway, department, office, mart, kindergarten, library, park, school, bank, senior])

In [ ]:
# 절댓값으로 판단한 결과가 들어갈 딕셔너리 생성(구 이름이 key, 최종점수가 value)
result_gu = {"gangseo" : 0, "geumjeong" : 0, "gijang" : 0, "nam" : 0, "dong" : 0, "dongrae" : 0,
             "busanjin" : 0, "buk" : 0, "sasang" : 0, "saha" : 0, "suyeong" : 0, "yeonje" : 0, "yeongdo" : 0, "jung" : 0, "haeundae" : 0}

In [ ]:
#평당가에 대한 분석

min_diff = float('inf')
closest_gu = None

for index, price_value in enumerate(busan_dataset.price):
    diff = abs(price_value - input_user[0])
    if diff < min_diff:
        min_diff = diff
        closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: saha
절댓값의 차이: 525

{'gangseo': 0,
 'geumjeong': 0,
 'gijang': 0,
 'nam': 0,
 'dong': 0,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 0,
 'yeongdo': 0,
 'jung': 0,
 'haeundae': 0}

In [ ]:
#병원 수에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, hospital_value in enumerate(busan_dataset.hospital):
    diff = abs(hospital_value - input_user[1])
    if diff < min_diff:
        min_diff = diff
        closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: jung
절댓값의 차이: 61

{'gangseo': 0,
 'geumjeong': 0,
 'gijang': 0,
 'nam': 0,
 'dong': 0,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 0,
 'yeongdo': 0,
 'jung': 1,
 'haeundae': 0}

In [ ]:
#버스 개수에 대한 절댓값 분석
min_diff = float('inf')
closest_gu = None

for index, bus_value in enumerate(busan_dataset.bus):
  diff = abs(bus_value - input_user[2])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: jung
절댓값의 차이: 15

{'gangseo': 0,
 'geumjeong': 0,
 'gijang': 0,
 'nam': 0,
 'dong': 0,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 0,
 'yeongdo': 0,
 'jung': 2,
 'haeundae': 0}

In [ ]:
#편의점 개수에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, covenience_value in enumerate(busan_dataset.convenience):
  diff = abs(covenience_value - input_user[3])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: jung
절댓값의 차이: 17

{'gangseo': 0,
 'geumjeong': 0,
 'gijang': 0,
 'nam': 0,
 'dong': 0,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 0,
 'yeongdo': 0,
 'jung': 3,
 'haeundae': 0}

In [ ]:
#지하철 개수에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, subway_value in enumerate(busan_dataset.subway):
  diff = abs(subway_value - input_user[4])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: gijang
절댓값의 차이: 1

{'gangseo': 0,
 'geumjeong': 0,
 'gijang': 1,
 'nam': 0,
 'dong': 0,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 0,
 'yeongdo': 0,
 'jung': 3,
 'haeundae': 0}

In [ ]:
#백화점 수에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, department_value in enumerate(busan_dataset.department):
  diff = abs(department_value - input_user[5])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: geumjeong
절댓값의 차이: 1

{'gangseo': 0,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 0,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 0,
 'yeongdo': 0,
 'jung': 3,
 'haeundae': 0}

In [ ]:
#관공서에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, office_value in enumerate(busan_dataset.office):
  diff = abs(office_value - input_user[6])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: yeonje
절댓값의 차이: 0

{'gangseo': 0,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 0,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 1,
 'yeongdo': 0,
 'jung': 3,
 'haeundae': 0}

In [ ]:
#마트에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, mart_value in enumerate(busan_dataset.mart):
  diff = abs(mart_value - input_user[7])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: dong
절댓값의 차이: 1

{'gangseo': 0,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 1,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 1,
 'yeongdo': 0,
 'jung': 3,
 'haeundae': 0}

In [ ]:
#어린이집에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, kindergarten_value in enumerate(busan_dataset.kindergarten):
  diff = abs(kindergarten_value - input_user[8])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: jung
절댓값의 차이: 8

{'gangseo': 0,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 1,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 1,
 'yeongdo': 0,
 'jung': 4,
 'haeundae': 0}

In [ ]:
#도서관에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, library_value in enumerate(busan_dataset.library):
  diff = abs(library_value - input_user[9])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: gangseo
절댓값의 차이: 1

{'gangseo': 1,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 1,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 1,
 'yeongdo': 0,
 'jung': 4,
 'haeundae': 0}

In [ ]:

#공원에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, park_value in enumerate(busan_dataset.park):
  diff = abs(park_value - input_user[10])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: jung
절댓값의 차이: 3

{'gangseo': 1,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 1,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 1,
 'yeongdo': 0,
 'jung': 5,
 'haeundae': 0}

In [ ]:
#학교에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, school_value in enumerate(busan_dataset.school):
  diff = abs(school_value - input_user[11])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: jung
절댓값의 차이: 1

{'gangseo': 1,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 1,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 1,
 'yeongdo': 0,
 'jung': 6,
 'haeundae': 0}

In [ ]:
#은행에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, bank_value in enumerate(busan_dataset.bank):
  diff = abs(bank_value - input_user[12])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: jung
절댓값의 차이: 2

{'gangseo': 1,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 1,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 1,
 'yeongdo': 0,
 'jung': 7,
 'haeundae': 0}

In [ ]:
#경로당에 대한 분석
min_diff = float('inf')
closest_gu = None

for index, senior_value in enumerate(busan_dataset.senior):
  diff = abs(senior_value - input_user[13])
  if diff < min_diff:
    min_diff = diff
    closest_gu = busan_dataset.gu[index]

print("절댓값이 가장 근접한 구:", closest_gu)
print("절댓값의 차이:", min_diff)

result_gu[closest_gu] += 1

result_gu

절댓값이 가장 근접한 구: jung
절댓값의 차이: 26

{'gangseo': 1,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 1,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 1,
 'yeongdo': 0,
 'jung': 8,
 'haeundae': 0}

In [ ]:
max(result_gu, key=result_gu.get)

result_gu

{'gangseo': 1,
 'geumjeong': 1,
 'gijang': 1,
 'nam': 0,
 'dong': 1,
 'dongrae': 0,
 'busanjin': 0,
 'buk': 0,
 'sasang': 0,
 'saha': 1,
 'suyeong': 0,
 'yeonje': 1,
 'yeongdo': 0,
 'jung': 8,
 'haeundae': 0}

In [ ]:
#if(max(result_gu, key=result_gu.get) == "gangseo"):
#  print("최종적으로 사용자에게 강서구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "geumjeong"):
#  print("최종적으로 사용자에게 금정구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "gijang"):
#  print("최종적으로 사용자에게 기장군을 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "nam"):
#  print("최종적으로 사용자에게 남구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "dong"):
#  print("최종적으로 사용자에게 동구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "dongrae"):
#  print("최종적으로 사용자에게 동래구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "busanjin"):
#  print("최종적으로 사용자에게 부산진구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "buk"):
#  print("최종적으로 사용자에게 북구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "sasang"):
#  print("최종적으로 사용자에게 사상구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "saha"):
#  print("최종적으로 사용자에게 사하구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "suyeong"):
#  print("최종적으로 사용자에게 수영구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "yeonje"):
#  print("최종적으로 사용자에게 연제구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "yeongdo"):
#  print("최종적으로 사용자에게 영도구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "jung"):
#  print("최종적으로 사용자에게 중구를 추천합니다!!")
#elif(max(result_gu, key=result_gu.get) == "haeundae"):
#  print("최종적으로 사용자에게 해운대구를 추천합니다!!")

gu_korean = {"gangseo" : "강서구", "geumjeong" : "금정구", "gijang":"기장군", "nam" : "남구", "dong" : "동구", "dongrae": "동래구",
             "busanjin" : "부산진구", "buk" : "북구", "sasang" : "사상구", "saha" : "사하구", "suyeong" : "수영구", "yeonje" : "연제구", "yeongdo" : "영도구", "jung" : "중구", "haeundae" : "해운대구"}

recommend_gu = gu_korean[max(result_gu, key=result_gu.get)]

print(f"최종적으로 사용자에게 {recommend_gu}를 추천합니다!!")

최종적으로 사용자에게 중구를 추천합니다!!